*{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: "Lato",sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    background-color: #ecf0f3;
}
.login-div{
    width: 370px;
    height: 570px;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}
.logo{
    background: url('../images/logo.jpg') no-repeat center;
    background-size: cover;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0px 0px 2px #5f5f5f,0px 0px 0px 5px #ecf0f3,8px 8px 15px #a7aaaf,-8px -8px 15px #fff,
}
.signup-title{
    text-align: center;
    font-size: 28px;
    letter-spacing: 1px;
}
.title{
    text-align: center;
    font-size: 28px;
    padding-top: 10px;
    letter-spacing: 1px;
}

.sub-title{
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
    letter-spacing: 3px;
}

.fields-signup{
    width: 100%;
    padding: 10px 5px 5px 5px;
}
.fields-signup input{
    border: none;
    outline: none;
    background:none;
    font-size: 15px;
    color: #555;
    padding: 10px 0px 10px 3px;
}

.fields-signup img{
    height: 16px;
    margin: -2px 10px 0 25px;
}

.fields{
    width: 100%;
    padding: 20px 5px 5px 5px;
}
.fields input{
    border: none;
    outline: none;
    background:none;
    font-size: 15px;
    color: #555;
    padding: 10px 5px 10px 3px;
}
.name,.phone,.address,.s-username,.s-password{
    margin-bottom: 15px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}
.username,.password{
    margin-bottom: 20px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}
.fields img{
    height: 16px;
    margin: -2px 10px 0 25px;
}

.sign-in{
    outline: none;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 100%;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Lato",sans-serif;
    color: #fff;
    text-align: center;
    background-color: #02c8db;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
}
.sign-in:hover{
    background-color:rgba(19, 172, 192, 0.842);
}

.sign-in:active{
    background-color:rgb(7, 233, 139);
}
.link{
    padding-top: 20px;
    text-align: center;
}
.link a{
    text-decoration: none;
    color: lightslategrey;
    font-size: 17px;
}

.link .forgot:hover{
    color:rgb(238, 4, 4);
}
.link .signup:hover{
    color:rgb(3, 105, 75);
}